        body{
            /*background: url("../images/the_hollywood_sign_h_2015.jpg") no-repeat center center fixed;*/
            background-color: #367;
            color: #ffca28;
            font-family: 'Saira Condensed', sans-serif;
        }